# Cusdis Cloud app ID (https://cusdis.com)
PUBLIC_CUSDIS_APP_ID=

# Google Analytics 4 measurement ID (https://analytics.google.com)
# See docs/google-analytics-setup.md
PUBLIC_GA_MEASUREMENT_ID=G-14BQQ9TGBK
